* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./image/WeddingPic.png') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

@media screen and (max-width: 47.94rem) {
  body {
      background-position:  28% center ;
  }
}