@import './Keyframes.module.scss';

.container {
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 7rem 10rem 0 0;
    animation: pop-up 0.5s ease-out forwards;
    
    .txtContainer {
        
        width: 28rem;
        padding: 1rem;
        text-align: center;
        font-family: cursive;
        border-radius: 2rem;
        border: 0.2rem solid black;
        background-color: rgba(190, 190, 190, 0.715);

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            font-family: cursive;
            margin: 0 auto 1rem; 
            text-decoration: underline;
        }
        
        p {
        font-size: 1.2rem;
    }
}
}

@media screen and (max-width: 47.94rem) {
    .container {
        padding: 4rem 0.7rem 2rem 0;
        align-items: center;
        
        .txtContainer{
            width: 23rem;

            h1 {
                margin: 0 auto;
            }
            p {
                padding: 1rem;
            }
        }
    }
}