@import './Keyframes.module.scss';

.container {
    display: flex;
    align-items: end;
    padding-top: 5rem;
    margin-right: 6rem;
    flex-direction: column;
    animation: pop-up 0.5s ease-out forwards;
    font-family: cursive;
    
    main {
        width: 33rem;
        margin: 2rem;
        padding: 1rem;
        text-align: center;
        border-radius: 2rem;
        border: 0.2rem solid black;
        background-color: rgba(190, 190, 190, 0.715);
        
        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: underline;
        }

        p {
            margin: 1rem 0;
            font-size: 1.3rem;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 47.94rem) {

    .container {
        padding-top: 9rem;
        margin-right: 0.6rem;

        main {
            width: 22.5rem;
            margin: auto;
            padding: 0.79rem;
             h1 {
                font-size: 1.6rem;
             }
            h3 {
                font-size: 1.5rem;
                font-weight: bold;
            }

            p {
                font-size: 1.5rem;
                font-weight: bold;
            }
            
        }
    }
}