.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    
}

// .header {


// }

.hero {
width: 70%;
height: 20rem;
}

.heroImg {
width: 100%;
}

.details {
    margin: 2rem;
   
}