@import './Keyframes.module.scss';

.container {
    display: flex;
    align-items: end;
    padding-top: 7rem;
    margin-right: 15rem;
    flex-direction: column;
    animation: pop-up 0.5s ease-out forwards;
    
    h1 {
      margin: 0 8.5rem 1rem 0;
      font-size: 1.7rem;
      font-weight: bold;
    }

    .form {
      padding: 1.5rem;
      text-align: left;
      border-radius: 1rem;
      display: inline-block;
      border: 0.2rem solid black;
      background-color: rgba(190, 190, 190, 0.715);
      
      
      .formGroup {
        margin-bottom: 0.6rem; 
  
        label {
        display: block;
        font-size: 1.1rem;
        font-weight: bold;
        font-family: cursive;
      }
  
      input {
        width: 17rem; 
        padding: 0.3rem; 
        font-size: 1.2rem;
        margin-top: 0.3rem;
      }
      
    }
    button {
      border: none;
      color: white;
      display: block;
      cursor: pointer;
      margin: 1rem auto;
      font-size: 1rem; 
      font-family: cursive;
      border-radius: 0.5rem;
      padding: 0.4rem 1rem; 
      background-color: #0070f3;
      font-family: cursive;
  
      &:hover {
        background-color: #005bb5;
      }
    }
  }
  }
  
  @media screen and (max-width: 47.9375rem) {
    .container {
      padding-top: 9rem;
      margin-right: 1.8rem;

      .form {

        .formGroup{
          label {
            font-size: 1.5rem;
          }
        }
        
        button {
          font-size: 1.8rem;
        }
      }
    }
  }

  @media screen and (min-width: 47.9375rem) and (max-width: 47.9999rem) { 
    .container {
      margin-right: 13rem;
      padding-top: 10rem;
    }
  }