.container {
    display: flex;
    padding-top: 10rem;
    align-items: center;
    flex-direction: column;
    
    .form {
      padding: 2rem;
      text-align: left;
      border-radius: 1rem;
      display: inline-block;
      border: 0.01rem solid black;
    }
  
    .formGroup {
      margin-bottom: 0.6rem; 
  
      label {
        display: block;
      }
  
      input {
        padding: 0.5rem; 
        margin-top: 0.3rem;
        width: 15rem; 
      }
    }
  
    button {
      margin: 1rem auto;
      display: block;
      font-size: 1.2rem;
      color: white;
      border: none;
      cursor: pointer;
      padding: 0.6rem 1.25rem; 
      background-color: #0070f3;
  
      &:hover {
        background-color: #005bb5;
      }
    }
  }
  